<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <input type="text" [(ngModel)]="this.state.productState.keyword" />
        <button (click)="searchProducts()" class="btn btn-success ms-1">
          Search
          <i class="bi bi-search"></i>
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Checked</th>
            <th *ngIf="state.authState.roles.includes('ADMIN')">Check or Uncheck</th>
            <th *ngIf="state.authState.roles.includes('ADMIN')">Delete</th>
            <th *ngIf="state.authState.roles.includes('ADMIN')">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of this.state.productState.products">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.checked }}</td>
            <td *ngIf="state.authState.roles.includes('ADMIN')">
              <button class="btn btn-outline-success">
                <i
                  (click)="handleCheckProduct(product)"
                  [class]="product.checked ? 'bi bi-check' : 'bi bi-circle'"
                ></i>
              </button>
            </td>
            <td *ngIf="state.authState.roles.includes('ADMIN')">
              <button
                (click)="handleDelete(product)"
                class="btn btn-outline-danger"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td *ngIf="state.authState.roles.includes('ADMIN')">
              <button
                (click)="handleEdit(product)"
                class="btn btn-outline-info"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li
          *ngFor="
            let page of [].constructor(this.state.productState.totalPages);
            let i = index
          "
        >
          <button
            (click)="handleGoToPage(i + 1)"
            class="btn btn-outline-success m-1"
          >
            {{ i + 1 }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
